#!/usr/bin/make -f

DEBNAMEP=$(shell dpkg-parsechangelog -c1 |sed -n 's/^Source: \(.*\)$$/\1/p')_$(shell dpkg-parsechangelog -c1 |sed -n 's/^Version: \(.*\)$$/\1/p')


build build-arch build-indep:

clean:
	dh_testdir
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep

binary-arch: install

binary-indep: install
	dh_testdir -plibstdc++6-4.9
	dh_testroot -plibstdc++6-4.9
	dh_auto_install -plibstdc++6-4.9
	dh_install -plibstdc++6-4.9
	dh_compress -plibstdc++6-4.9
	dh_fixperms -plibstdc++6-4.9
	dh_installdeb -plibstdc++6-4.9
	dh_gencontrol -plibstdc++6-4.9
	sed --in-place= 's/Architecture: .*/Architecture: armv7a-vfp/' debian/libstdc++6-4.9/DEBIAN/control
	dh_md5sums -plibstdc++6-4.9
	dh_builddeb -plibstdc++6-4.9 -- -Zgzip
	cp ../$(DEBNAMEP)_armv7a-vfp.deb ../$(DEBNAMEP)_$(DEB_HOST_ARCH).deb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
